# Python / venv / cache
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Dane - domyślnie ignoruj wszystko w data/
data/**

# …ale DOZWÓL na surowe próbki w data/retail_db/**
!data/retail_db/**
# (opcjonalnie) nie śledź binarnych wyjść, jeśli by się pojawiły
data/retail_db/**/*.parquet

# Wyniki runnera - nie śledź
data/_outputs/**

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/